/* Add slide-down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-100%); /* Start off-screen, above */
    }
    100% {
        transform: translateY(0); /* End at its normal position */
    }
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #ADD8E6;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent scroll */
}

header {
    background-color: #3a3a4a;
    color: #74c365;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: slideDown 0.5s ease-out; /* Apply slide-down animation */
}

header h1 {
    font-size: 2em;
    font-weight: 900;
    color: #74c365;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; /* Prevents header overlap */
    margin-bottom: 40px; /* Prevents content from being cut off */
    overflow: hidden; /* Prevents scrolling */
}

#container3D canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* Ensures content fills the viewport without overflow */
}

#controls-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    z-index: 1; /* Ensure it's above other content */
}

#controls-button button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 200px;
}

#controls-button button:hover {
    background-color: #0d47a1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 250px; /* Reduced padding to prevent overflow */
}

.info {
    background: #f0f8ff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px; /* Reduced margin to avoid cutting off */
    z-index: 1; /* Ensures it's above canvas */
}

.info h2 {
    color: #1976d2;
}

.info p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}
